@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body-index {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
  background-image: url(../../assets/textura-grano-fondo.jpg);
  background-size: cover; }

.body-pages {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
  background-image: url(../../assets/grano3200.jpg);
  background-size: contain; }

header {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px; }
  header a img {
    max-width: 40px;
    max-height: auto; }
  header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 15px;
    gap: 15px; }
    header nav ul li a {
      text-decoration: none;
      color: white; }
      header nav ul li a:hover {
        color: #bebebe; }

.main-index {
  display: grid; }
  .main-index section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 900px; }
    .main-index section hr {
      border: none;
      height: 2px;
      background-color: white;
      margin: 0px 30%;
      margin-bottom: 30px; }
  .main-index div {
    display: grid;
    overflow-wrap: break-word;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr;
    background-color: rgba(67, 67, 67, 0.703);
    width: 100%;
    height: auto;
    padding: 0px 3.125rem;
    align-items: center;
    justify-items: center;
    gap: 3.125rem;
    margin-bottom: 50px; }
    .main-index div img {
      max-width: 300px;
      max-height: 300px;
      margin: 15px;
      border-radius: 5px; }
    .main-index div p {
      color: white;
      font-family: "League Spartan", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
      font-size: 1.6em;
      line-height: 1.3;
      text-align: justify;
      padding-top: 20px;
      padding-bottom: 20px;
      justify-content: center; }

footer {
  position: absolute;
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.119);
  width: 100%;
  height: 65px;
  padding-left: 1rem;
  bottom: 1; }

.r01 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 75px;
  padding: 100px; }
  .r01 img {
    max-width: 100%;
    max-height: auto; }

.r02 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 100px 100px 100px;
  gap: 75px; }
  .r02 img {
    max-width: 100%;
    max-height: auto; }

.r03 {
  display: grid;
  padding: 0px 100px 100px 100px;
  gap: 75px; }
  .r03 img {
    max-width: 100%;
    max-height: auto; }

.r04 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 100px 100px 100px;
  gap: 75px; }
  .r04 img {
    max-width: 100%;
    max-height: auto; }

.r05 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 100px 100px 100px;
  gap: 75px; }
  .r05 img {
    max-width: 100%;
    max-height: auto; }

.r06 {
  display: grid;
  padding: 0px 100px 100px 100px;
  gap: 75px; }
  .r06 img {
    max-width: 100%;
    max-height: auto; }

.r07 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0px 100px 100px 100px;
  gap: 75px; }
  .r07 img {
    max-width: 100%;
    max-height: auto; }

h1 {
  color: #e8e8e8;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 9rem; }

h2 {
  color: #e8e8e8;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
  font-size: 4.5rem; }

h3 {
  color: #e8e8e8;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  padding-top: 8.125rem; }

h4 {
  color: #e8e8e8;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  text-align: left;
  font-size: 40px;
  padding-left: 150px;
  margin-bottom: 9.375rem; }

h5 {
  color: #e8e8e8;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  text-align: left;
  font-size: 40px;
  padding-left: 9rem; }

h6 {
  color: #e8e8e8;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  text-align: left;
  font-size: 1rem; }
