@media (max-width: 768px){
    header{
        height: 45px;
        a{
            img{
                max-width: 25px;
            }
        }
        nav{
            ul{
                padding: 12px;
                gap: 12px;
                li{
                    a{
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
    .main-index{
        section{
            height: 400px;
            gap: 45px;
            h1{
                font-size: 4rem;
            }
            h2{
                font-size: 2rem;
            }
        }
        div{
            display: grid;
            grid-template-columns: 2fr;
            grid-template-rows: 55% 45%;
            align-content: center;
            margin-bottom: 50px;

            gap: 0;
            img{
                max-width: 175px;
                max-height: 175px;
            }
            p{
                font-size: 1rem;
                margin-bottom: 50px;

                
            }
        }
    }
    footer{
        height: 45px;
        div{
            h6{
                font-size: 0.7rem;
            }
        }
        div{
            p{
                font-size: 0.7rem;
            }
            a{
                img{
                    max-height: 15px;
                }
            }
        }
    }
    

    h3 {
        padding-left: 30px;
        font-size: 5.3vh;
    }

    h4{
        color: rgb(232, 232, 232);
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        text-align: left;
        font-size: 40px;
        padding-left: 150px;
        margin-bottom: 9.375rem;
    }

    .iframeh4 {
        display: flex;
        flex-flow: column;
    }

    .iframeh4 iframe {
        width: 90%;
    }

    h5 {
        height: 20px;
        text-align: center;
        font-size: 20px;
        padding: 10%;
    }

    h6 {
        text-align: center;
        font-size: 10px;
        padding: 10%;
    }

}
